<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <title>CodeAgora</title>
</head>
<body>

    <nav th:replace="~{navbar :: navbar}"></nav>

    <div class="w-50 bg-yellow rounded-4 mx-auto p-3 mt-4" th:if="${result} == 'success'">
        비밀번호가 성공적으로 변경되었습니다.
    </div>

    <form class="w-50 p-3 mx-auto bg-secondary-subtle rounded-4 mt-4" th:object=${changePasswordDto} th:action="@{/profile/change-password}" method="post">

        <div class="mb-4">
            <label th:for="currentPassword" class="form-label">현재 비밀번호</label>
            <input type="password" class="form-control" th:field="*{currentPassword}" th:errorclass="is-invalid" size="30"/>
            <p class="invalid-feedback" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">
                현재 비밀번호가 일치하지 않습니다.
            </p>
        </div>

        <div class="mb-4">
            <label th:for="newPassword" class="form-label">새 비밀번호</label>
            <input type="password" class="form-control" th:field="*{newPassword}" th:errorclass="is-invalid" size="30"/>
            <p class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                새 비밀번호를 입력해주세요.
            </p>
        </div>

        <div class="my-1">
            <label th:for="newPasswordForCheck" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control" th:field="*{newPasswordForCheck}" th:errorclass="is-invalid" size="30"/>
            <p class="invalid-feedback" th:if="${#fields.hasErrors('newPasswordForCheck')}" th:errors="*{newPasswordForCheck}">
                새 비밀번호를 입력해주세요.
            </p>
        </div>

        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-primary" onsubmit="checkNewPassword()">비밀번호 변경하기</button>
        </div>
    </form>

    <script type="text/javascript">
        function checkNewPassword() {
            if (document.getElementById('newPassword').value !== document.getElementById('newPasswordForCheck').value) {
               alert('새 비밀번호와 비밀번호 확인에 입력된 값이 일치하지 않습니다.');
                return false;
            }

            return true;
        }
    </script>
</body>
</html>