<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <title>CodeAgora</title>
</head>
<body>
    <nav th:replace="~{navbar :: navbar}"></nav>

    <div class="w-75 mx-auto">
        <table class="table mt-5 mx-auto w-100 table-bordered text-center">
            <tr style="height: 10px;">
                <th class="w-25">번호</th>
                <th class="w-50">제목</th>
                <th class="w-25">날짜</th>
            </tr>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}">게시글 번호</td>
                <td><a th:href="@{|/infoBoard/${post.id}|}" th:text="${post.title}">게시글 제목</a></td>
                <td th:text="${#temporals.format(post.createdAt, 'MM/dd')}">게시글 시간</td>
            </tr>
        </table>

        <ul class="pagination justify-content-center mt-3">
            <li class="page-item" th:classappend="${posts.isFirst()} ? 'disabled'">
                <a class="page-link" th:href="@{|/infoBoard?page=${posts.number}|}">이전</a>
            </li>
            <li class="page-item"
                th:each="num : ${#numbers.sequence(groupNumber * 5 + 1, T(java.lang.Math).min(groupNumber * 5 + 5, posts.getTotalPages()))}"
                th:classappend="${num} == ${posts.number + 1} ? 'active'">
                <a class="page-link" th:href="@{|/infoBoard?page=${num}|}" th:text="${num}">1</a>
            </li>
            <li class="page-item" th:classappend="${posts.isLast()} ? 'disabled'">
                <a class="page-link" th:href="@{|/infoBoard?page=${posts.number + 2}|}">다음</a>
            </li>
        </ul>

        <a class="btn btn-primary" style="float: right;" sec:authorize="isAuthenticated()" th:href="@{/infoBoard/create}">새 글 작성</a>
    </div>
</body>
</html>